.btn {
  @apply rounded-md
    bg-white
    px-3
    py-2
    text-sm
    font-semibold
    text-gray-700
    shadow-sm
    hover:bg-gray-200
    focus-visible:outline
    focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-white;

  &.btn--primary {
    @apply bg-brandPrimary-600
        hover:bg-brandPrimary-500
        focus-visible:outline-brandPrimary-600
        text-white;
  }

  &.btn--secondary {
    @apply bg-brandSecondary-600
        hover:bg-brandSecondary-500
        focus-visible:outline-brandSecondary-600
        text-white;
  }
}
