<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwindcss starter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/main.scss" />
  </head>
  <body>
    <section class="container">
      <div class="max-w-7xl">
        <h1>Hello world!</h1>
        <div class="mt-4">
          <h2>Buttons</h2>
          <button type="button" class="btn btn--primary">Button Primary</button>
          <button type="button" class="btn btn--secondary">Button secondary</button>
        </div>
      </div>
    </section>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
